<app-nav-menu></app-nav-menu>


<div class="container" style="width: 60%;">

  <h2><i class="fa fa-pencil" aria-hidden="true"></i> Edit concert</h2>

  <form [formGroup]="concertForm" (ngSubmit)="update()" #formDir="ngForm" novalidate>

<!-- <div class="form-group">
      <label for="id">Id: </label>
      <input formControlName="Id" type="text" class="form-control" required>
    </div>-->

    <div class="form-group">
      Tour name:
      <input formControlName="TourName" type="text" class="form-control" required>
    </div>

    <div class="form-group">
      Artist name:
      <input formControlName="Artist" type="text" class="form-control" required>
    </div>

    <div class="form-group">
      Picture path: 
      <input formControlName="Picture" type="text" class="form-control" required>
    </div>

    <div class="form-group">
      Stage: 
      <input formControlName="Stage" type="text" class="form-control" required>
    </div>

    <div class="form-group">
      <div class="row">
          <div class="col-2">
            Date:
          </div>
          <div class="col-10">
            <input formControlName="ConcertDate" class="form-control" type="date" required>
          </div>
      </div>
    </div>


    <div class="form-group">
      Number of tickets: 
      <input readonly formControlName="NumberTicketsAvailable" type="number" class="form-control" required>
    </div>

    <div class="form-group">
      Ticket price:
      <input formControlName="TicketPrice" type="number" class="form-control" required>
    </div>

    <div formArrayName="Tickets">
      <br />
      <h2>Tickets:</h2>
      <div *ngFor="let item of TicketsFormArray.controls;  index as i">
        <div [formGroupName]="i">
          <br />
          <h4>Ticket {{i+1}}</h4>

          <div *ngIf="concertForm.controls.Tickets.controls[i].controls.UserId.value == null">

            <div class="form-group">
              Ticket price:
              <input formControlName="Price" type="number" class="form-control" required>
            </div>

            <div class="form-group">
              Category:
              <input formControlName="Category" type="text" class="form-control" required>
            </div>

          </div>

        </div>
      </div>
    </div>


    <button type="submit" class="btn btn-primary">Update event</button>
  </form>
</div>



<pre>{{concertForm.value | json }}</pre>

