<p>concert-edit works!</p>



<div class="container" style="margin:10px;">

  <h2>Concert form</h2>

  <form [formGroup]="concertForm" (ngSubmit)="update()" #formDir="ngForm" novalidate>

    <div class="form-group">
      <label for="id">Id: </label>
      <input formControlName="Id" type="text" class="form-control" required>

    </div>
    <div class="form-group">
      <label for="tourName">Tour: </label>
      <input formControlName="TourName" type="text" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="artist">Artist: </label>
      <input formControlName="Artist" type="text" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="artist">Picture: </label>
      <input formControlName="Picture" type="text" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="stage">Stage: </label>
      <input formControlName="Stage" type="text" class="form-control" required>
    </div>

    <div class="form-group row">
      <label for="concertDate" class="col-2 col-form-label">Date: </label>
      <div class="col-10">
        <input formControlName="ConcertDate" class="form-control" type="date" required>
      </div>
    </div>


    <div class="form-group">
      <label for="nbTicketsAvailable">Number of tickets: </label>
      <input readonly  formControlName="NumberTicketsAvailable" type="number" class="form-control" required>
    </div>


    <div class="form-group">
      <label for="ticketPrice">Ticket price: </label>
      <input formControlName="TicketPrice" type="number" class="form-control" required>
    </div>



    <div formArrayName="Tickets">
      <div *ngFor="let item of TicketsFormArray.controls;  index as i" >
        <div [formGroupName]="i">
          <div *ngIf="concertForm.controls.Tickets.controls[i].controls.UserId.value == null">

            <label>
              UserId:
            </label>
            <input formControlName="UserId" type="text" />

            <label>
              Price:
            </label>
            <input formControlName="Price" type="number" />
            <label>
              Category:
            </label>
            <input formControlName="Category" type="text" />

          </div>
 
        </div>
      </div>
    </div>

     
    <button type="submit" class="btn btn-primary"  >Create event</button>
  </form>
</div>



<pre>{{concertForm.value | json }}</pre>

