<app-nav-menu></app-nav-menu>


<div class="container" style="width: 60%;padding-bottom:3em;">

  <button class="btn btn-warning" (click)="navigation('/backoffice')">< Back</button>
  <br />
  <br />
  <h2><i class="fa fa-pencil" aria-hidden="true"></i> Edit concert</h2>

  <form [formGroup]="concertForm" (ngSubmit)="onSubmit(this.concertForm.value)" novalidate>


    <div class="form-group">
      Tour name:
      <input formControlName="TourName" type="text" class="form-control" required>
    </div>

    <div class="form-group">
      Artist name:
      <input formControlName="Artist" type="text" class="form-control" required>
    </div>

    <div class="form-group">
      Picture path:
      <input formControlName="Picture" type="text" class="form-control" required>
    </div>

    <div class="form-group">
      Stage:
      <input formControlName="Stage" type="text" class="form-control" required>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-2">
          Date:
        </div>
        <div class="col-10">
          <input formControlName="EventDate" class="form-control" type="date" required>
        </div>
      </div>
    </div>


    <div class="form-group">
      Number of tickets: <br />
      <i class="fa fa-info-circle" aria-hidden="true"></i>
      <small class="text-muted"> Once the concert is created, you cannot edit the number of tickets, but edit the tickets already added.</small>
      <input readonly formControlName="NumberTicketsAvailable" type="number" class="form-control" required>
    </div>

    <div class="form-group">
      Ticket price: <br />
      <i class="fa fa-info-circle" aria-hidden="true"></i>
      <small class="text-muted"> Insert the lowest price of your tickets added.</small>
      <input formControlName="TicketPrice" type="number" class="form-control" required>
    </div>

    <div formArrayName="Tickets">
      <br />
      <h2>Tickets:</h2>
      <i class="fa fa-check-square-o" aria-hidden="true"></i>
      <small class="text-muted"> Feel free to edit the tickets not sold yet! </small>
      <div *ngFor="let item of TicketsFormArray.controls;  index as i">
        <div [formGroupName]="i">
          <br />
          <h4>Ticket {{i+1}}</h4>

          <div *ngIf="concertForm.controls.Tickets.controls[i].controls.UserId.value == null">

            <div class="form-group">
              Ticket price:
              <input formControlName="Price" type="number" class="form-control" required>
            </div>

            <div class="form-group">
              Category:
              <input formControlName="Category" type="text" class="form-control" required>
            </div>

          </div>

        </div>
      </div>
    </div>


    <button type="submit" class="btn btn-primary">Update event</button>
  </form>
</div>



<!-- <pre>{ {concertForm.value | json }}</pre> -->
