<app-nav-menu></app-nav-menu>




  FORM TO SEND
<div>
  <form [formGroup]="userForm" (ngSubmit)="buyTicket()">
    <!--<input type="hidden" name="Id" formControlName="Id">-->
    <div class="form-group">
      <label for="fullName">FullName: </label>
      <input formControlName="FullName" type="text" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="userName">UserName: </label>
      <input formControlName="UserName" type="text" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="email">Email: </label>
      <input formControlName="Email" type="text" class="form-control" required>
    </div>

    <div formGroupName="Tickets">
      <div *ngFor="let child of userForm.get('Tickets').controls; let i = index">
        <div [formGroupName]="i">
          <label>{{i+1}}. Price: </label>
          <input formControlName="Price" type="number" /><br>
          <label>{{i+1}}. Category: </label>
          <input formControlName="Category" type="text" />
          <label>{{i+1}}. Id: </label>
          <input formControlName="Id" type="number" /><br>
          <label>{{i+1}}. ConcertId: </label>
          <input formControlName="ConcertId" type="number" />
          <label>{{i+1}}. UserId: </label>
          <input formControlName="UserId" type="number" />

          <button type="button" (click)="deleteRow(i)" *ngIf="Tickets.controls.length > 1">
            Delete
          </button>
        </div>
      </div>
    </div>
    <button type="button" (click)="addTicket()">Add new ticket</button>
    <button type="submit" class="btn btn-primary">Buy Ticket</button>
  </form>
</div>



  DISPLAY
<table>
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
      <th scope="col">ConcertId</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ticket of ticketList">
      <td>{{ticket.Id}}</td>
      <td>{{ticket.Price}}</td>
      <td>{{ticket.Category}}</td>
      <td>{{ticket.ConcertId}}</td>
      <td>{{ticket.UserId}}</td>

    </tr>
    <tr>
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>  Buy ticket

    </tr>
  </tbody>
</table>

<pre>{{userForm.value | json }}</pre>
