<p>concert-details-component works!</p>

<div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-12 col-md-12 sol-sm-12">
        <table class="table table-striped">
          <tr>
            <td>Tour</td>
            <td>{{concertData['TourName']}}</td>
          </tr>
          <tr>
            <td>Stage</td>
            <td>{{concertData['Stage']}}</td>
          </tr>
          <tr>
            <td>Price</td>
            <td>{{concertData['TicketPrice']}}</td>
          </tr>
          <tr>
            <td>Ticket</td>
            <td>{{concertData['Category']}}</td>
          </tr>
          <tr>
            <i class="fa fa-trash" aria-hidden="true" (click)="buyTicket()"></i> Buy ticket

          </tr>
        </table>
        <br>
        <button class="btn btn-warning" (click)="navigation('')">Go Back</button>
      </div>
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">TourName</th>
        <th scope="col">Artist</th>
        <th scope="col">Stage</th>
        <th scope="col">ConcertDate</th>
        <th scope="col">NumberTicketsAvailable</th>
        <th scope="col">TicketPrice</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of concertService.ticketList">
        <td>{{ticket.Id}}</td>
        <td>{{ticket.Price}}</td>
        <td>{{ticket.Category}}</td>
        <td>{{ticket.ConcertId}}</td>

      </tr>
      <tr>
        <i class="fa fa-trash" aria-hidden="true" (click)="buyTicket()"></i> Buy ticket

      </tr>
      </tbody>
</table>
