<app-nav-menu></app-nav-menu>


<div class="container" style="width: 80%;">

  <button class="btn btn-warning" (click)="navigation('')">< Back</button> <h2>{{concertData?.Artist}} | {{concertData?.TourName}}</h2>

  <div class="card" style="width: 100%;">
    <div>
      <img class="card-img-top" src="/assets/img/{{concertData?.Picture}}" alt="Card image cap">
    </div> 
    <div class="card-body">
      <h5 class="card-title">{{concertData?.Artist}} | {{concertData?.TourName}}</h5>
        
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Number of ticket: {{concertData?.NumberTicketsAvailable}}</li>
      <li class="list-group-item">Price: {{concertData?.TicketPrice}}.00 $</li>
      <li class="list-group-item">Date: {{concertData?.EventDate | date}}</li>
    </ul>
    <div class="card-body">

      <hr class="mb-4">
      <a class="btn-primary  " style="padding: 0.5em;text-decoration:none;" [routerLink]="['/home/concert/recap-payment', concertData.Id]">
        Buy ticket!
      </a>


    </div>
  </div>


   


  </div>
