
  <a routerLink='/backoffice/create-concert'>Add a new concert</a>

<table>
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">TourName</th>
      <th scope="col">Artist</th>
      <th scope="col">Stage</th>
      <th scope="col">ConcertDate</th>
      <th scope="col">NumberTicketsAvailable</th>
      <th scope="col">TicketPrice</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let concert of concertService.list">
      <td>{{concert.Id}}</td>
      <td>{{concert.TourName}}</td>
      <td>{{concert.Artist}}</td>
      <td>{{concert.Stage}}</td>
      <td>{{concert.ConcertDate}}</td>
      <td>{{concert.NumberTicketsAvailable}}</td>
      <td>{{concert.TicketPrice}}</td>
      <td>
        <a class="btn btn-primary" [routerLink]="['edit-concert', concert.Id]">
          Edit
        </a>
      </td>
      <td>
        <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(concert.id)"></i>
      </td>
    </tr>
</table>
