<app-nav-menu></app-nav-menu>



<div class="container" style="width: 60%;">


  <br />
  <h2>Coming events 2020/2021</h2>
  <br />

  <div *ngFor="let concert of concertService.list" class="card mb-3" style="padding: 0.7em;">

    <div class="row ">
      <div class="col-md-4">
        <img src="/assets/img/{{concert.Picture}}" style="width: 100%;">
      </div>
      <div class="col-md-7">
        <div class="card-block">
          <h4 class="card-title">{{concert.TourName}} | {{concert.Artist}}</h4>



          <span><i class="fa fa-map-marker" aria-hidden="true"></i> {{concert.Stage}} -  {{concert.ConcertDate | date }}</span>
          <p> Tickets available : {{concert.NumberTicketsAvailable}} </p>



          <div class="row" style="padding-top:10px;">

            <div class="col-sm-4">
              <span class="text-danger" *ngIf="concert.NumberTicketsAvailable == 0">
                <dt><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Sold out!</dt>
              </span>
              <span *ngIf="concert.NumberTicketsAvailable > 0">
                <a class="btn btn-primary" [routerLink]="['/home/concert', concert.Id]">
                  See tickets
                </a>
              </span>
              <span *ngIf="concert.NumberTicketsAvailable == 1">
                <dt><i class="fa fa-exclamation-circle" aria-hidden="true"></i> 1 ticket left !</dt>
              </span>
            </div>
            <div class="col-sm-4" style="padding-top:5px;"  *ngIf="concert.NumberTicketsAvailable > 0">
              <p class="card-text">From {{concert.TicketPrice}}.00 $</p>
            </div>
          </div>


        </div>
      </div>

    </div>


  </div>


</div>
