<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>TourName</th>
      <th>Artist</th>
      <th>Stage</th>
      <th>ConcertDate</th>
      <th>NumberTicketsAvailable</th>
      <th>TicketPrice</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let concert of concertService.list | async">
      <td>{{concert.Id}}</td>
      <td>{{concert.TourName}}</td>
      <td>{{concert.Artist}}</td>
      <td>{{concert.Stage}}</td>
      <td>{{concert.ConcertDate}}</td>
      <td>{{concert.NumberTicketsAvailable}}</td>
      <td>{{concert.TicketPrice}}</td>
       
    </tr>
  </tbody>
</table>
