<app-nav-menu></app-nav-menu>

<div class="container" style="margin:10px;">

  <h2>Concert form</h2>

  <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden" name="Id" [value]="formData.Id">
    <div class="form-group">
      <label for="tourName">Tour: </label>
      <input name="TourName" #TourName="ngModel" [(ngModel)]="formData.TourName" type="text" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="artist">Artist: </label>
      <input name="Artist" #Artist="ngModel" type="text" class="form-control" [(ngModel)]="formData.Artist" required>
    </div>

    <div class="form-group">
      <label for="stage">Stage: </label>
      <input name="Stage" #Stage="ngModel" type="text" class="form-control" [(ngModel)]="formData.Stage" required>
    </div>

    <div class="form-group row">
      <label for="concertDate" class="col-2 col-form-label">Date: </label>
      <div class="col-10">
        <input name="ConcertDate" #ConcertDate="ngModel" class="form-control" type="date" value="2020-07-19" [(ngModel)]="formData.ConcertDate" required>
      </div>
    </div>


    <div class="form-group">
      <label for="numberTicketsAvailable">Number of tickets: </label>
      <input name="NumberTicketsAvailable" #NumberTicketsAvailable="ngModel" type="number" class="form-control" [(ngModel)]="formData.NumberTicketsAvailable" required>
    </div>


    <div class="form-group">
      <label for="ticketPrice">Ticket price: </label>
      <input name="TicketPrice" #TicketPrice="ngModel" type="number" class="form-control" [(ngModel)]="formData.TicketPrice" required>
    </div>


    <!--    <div class="form-group">
          <label for="Category">Category: </label>
          <input name="Category" #Category="ngModel" type="text" class="form-control" [(ngModel)]="formData.TicketsList.Category" required>
        </div>-->


    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
  </form>
</div>




