<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/home']">GIGTickets</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded" 
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="currentUser.UserName.value == 'admin'">
            <a class="nav-link text-dark" [routerLink]="['/backoffice']">Back office</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" style="padding-right: 25px;">
            <a class="nav-link text-dark" [routerLink]="['/profile']">My profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/profile']" style=" padding-right: 20px;color: #aed3e1;">
                <img src="/assets/img/user_profile_icon.png" alt="User" style="width:25px;">
                Hello {{currentUser.UserName}} !
            </a>
          </li>
          <li class="nav-item">
            <button class="btn btn-info  my-2 my-sm-0" (click)="onLogout()">Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

